vendor/
node_modules/
composer.lock
.git/
.gitignore
*.log
.DS_Store
Thumbs.db
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*.php
bootstrap/cache/*.env
.env.example
public/storage