.git
.gitignore
node_modules/
vendor/
.env
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
phpunit.xml
.editorconfig
.dockerignore
Dockerfile
Dockerfile.prod
docker-compose.yml
docker-compose.prod.yml
docker-compose.dev.yml
scripts/
tests/
